Babel==2.6.0
Django==1.11.18
django-appconf==1.0.2
django-compressor==2.2
django-extra-views==0.11.0
django-haystack==2.8.1
django-oscar==1.6.6
django-oscar-accounts==1.0.0
django-phonenumber-field==2.0.1
django-tables2==1.21.2
django-treebeard==4.3
django-widget-tweaks==1.4.3
factory-boy==2.11.1
Faker==1.0.1
funcsigs==1.0.2
ipaddress==1.0.22
mock==2.0.0
pbr==5.1.1
phonenumbers==8.10.3
Pillow==5.4.1
purl==1.4
pycountry==18.12.8
python-dateutil==2.7.5
pytz==2018.9
rcssmin==1.0.6
rjsmin==1.0.12
six==1.12.0
sorl-thumbnail==12.4.1
text-unidecode==1.2
Unidecode==1.0.23
whitenoise==4.1.2
